.container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px; /* フッターの高さ分の余白を追加 */
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

html {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ingredients {
    font-weight: normal;
    font-size: 2rem;
    padding-left: 10px; /* 要素内側の左部に 10px の余白 */
    border-left: 15px solid; /* 要素境界の左端に幅 15px の実線 */
    border-bottom: 4px solid; /* 要素境界の下端に幅 4px の実線 */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
}

h1 {
    color: #FFF;
}

h2 {
    color: #333;
    padding: 0.5em;/*文字周りの余白*/
  　color: #494949;/*文字色*/
  　background: #fffaf4;/*背景色*/
  　border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

::selection {
  background-color: #F58220
  color: #FFF; /* テキスト色 */
}

button:hover {
    background: #555;
}
#box {
  width: 300px;
  height: 170px;
  padding: 20px;
  border: 1px solid gray;
  background-color: rgb(210, 232, 247);
  box-sizing: border-box;
}
#box li {
  margin-top: 2px;
  margin-left: 50px;
}

.code-container {
    position: relative;
    background-color: #282c34;
    border-radius: 8px;
    padding: 16px;
    margin: 20px 0;
    color: #f8f8f2;
}

.code-container pre {
    margin: 0;
}

.highlight {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #61dafb;
    white-space: pre-wrap;
}

.copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.copy-button:hover {
    background-color: #21a1f1;
}
